/*  */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
:root {
    --main-color: #1d3557;
}
html, body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
}
h1, h2, h3, p {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-title {
    height: 20vh;
    font-size: 3rem;
    display: flex;
    text-align: center;
    align-items: center;
}

.container {
    width: 60vw;
    height: 60vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.spot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    font-size: clamp(1rem, 10vw, 10rem);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.spot:not(:last-child) {
    border-right: 0.3rem solid black;
}
.row:not(:last-child) {
    border-bottom: 0.3rem solid black;
}

.row {
    position: relative;  
}

span {
    position: absolute;
}

/* Horizontal */
/* span {
  left: 5%;
  top: calc(50% - 4px);
  height: 0.4rem;
  background: black;
  content: "";
  width: 1%;
  border-radius: 5px;
  z-index: 10;

  -webkit-animation: increase 0.5s;
    -moz-animation: increase 0.5s; 
    -o-animation: increase 0.5s; 
    animation: increase 0.5s ease-in-out;
    animation-fill-mode: forwards;
} */

/* Vertical */ /* Needs to add span in container */
/* .container {
    position: relative;
}
span {
    left: calc((100%)/6 - 3px);
    top: 5%;
    height: 1%;
    background: black;
    content: "";
    width: 0.4rem;
    border-radius: 5px;
    z-index: 10;

    -webkit-animation: incrVert 0.5s;
    -moz-animation: incrVert 0.5s; 
    -o-animation: incrVert 0.5s; 
    animation: incrVert 0.5s ease-in-out;
    animation-fill-mode: forwards;
} */

/* Crossed */
/* .container {
    position: relative;
}
span {
    left: calc((100%)/12 - 3px);
    height: 1%;
    background: black;
    content: "";
    width: 0.4rem;
    border-radius: 5px;
    z-index: 10;
    rotate: -45deg;

    -webkit-animation: incrCross 0.5s;
    -moz-animation: incrCross 0.5s; 
    -o-animation: incrCross 0.5s; 
    animation: incrCross 0.5s ease-in-out;
    animation-fill-mode: forwards;
} */

/* .container {
    position: relative;
}
span {
    left: calc(100% - ((100%)/12 + 3px));
    height: 1%;
    background: black;
    content: "";
    width: 0.4rem;
    border-radius: 5px;
    z-index: 10;
    rotate: 45deg;

    -webkit-animation: incrCross 0.5s;
    -moz-animation: incrCross 0.5s; 
    -o-animation: incrCross 0.5s; 
    animation: incrCross 0.5s ease-in-out;
    animation-fill-mode: forwards;
} */

@keyframes increase {
    100% {
        width: 90%;
    }
}

@keyframes incrVert {
    100% {
        height: 90%;
    }
}

@keyframes incrCross {
    0% {
        top: 8%;
    }
    100% {
        top: -10%;
        left: calc(50% - 3px);
        height: 120%;
    }
}